<div id="cartsContainer">

    {{main.customer.cart}}
    <div class="listItem" ng-repeat="item in cart.customer.cart"
         ng-init="product=item.product[0]">
        <img class="listImg" ng-click="main.setProduct(product._id)"
             ng-src="../images/{{product.imagefile}}" />
        <span class="prodName">{{product.name}}</span>
    <span >
      <span class="price">{{product.price|currency}}</span>
      <input class="quantity" type="text" ng-model="item.quantity" />
      <label class="quantity">Quantity</label>
      <span class="delete"
            ng-click="main.deleteFromCart(product._id)">Remove</span>
    </span>
    </div>
    <hr>
    <div>
        <span>Shipping</span>
        <span class="price">{{cart.shipping|currency}}</span>
    </div>
    <hr>
    <div>
        <span>Total</span>
        <span class="price">{{cart.cartTotal()|currency}}</span>
    </div>
    <hr>
    <div>
	  <span class="button" ng-click="main.checkout()"
            ng-hide="cart.customer.cart.length==0">
	    Checkout
	  </span>
	  <span class="button" ng-click="main.setContent('products')">
	    Continue Shopping
	  </span>
    </div>
</div>