<div class="login">

    <form name="myForm" novalidate >
    <input type="email" name="name" placeholder="email" id="username" ng-model="main.credentials.email"  required>


        <div ng-messages="myForm.name.$error" ng-if="myForm.name.$touched" style=" width: 50%;margin: 0 auto;">
            <div ng-messages-include="/static/messages.html"></div>
        </div>


    <input type="password" name="password" placeholder="password" id="password" ng-model="main.credentials.password" required>
        <div ng-messages="myForm.password.$error" class="showcenter" ng-if="myForm.password.$touched">
            <div ng-messages-include="/static/messages.html"></div>
        </div>

    <input type="button" value="Sign In" ng-click="main.signin()" ng-disabled="myForm.$invalid">
        <div class="showcenter padtop">
            {{main.loginerror}}
        </div>
    </form>
    <a href="#/signup" class="forgot">Sign up</a>


</div>
<div class="shadow"></div>
