<div id="reviewContainer">
    <div class="listItem" ng-repeat="item in main.customer.cart"
         ng-init="product=item.product[0]">
        <img class="listImg" ng-click="main.setProduct(product._id)"
             ng-src="../images/{{product.imagefile}}" />
        <span class="prodName">{{product.name}}</span>
    <span >
      <span class="price">{{product.price|currency}}</span>
      <label class="quantity">{{item.quantity}}</label>
      <label class="quantity">Quantity</label>
    </span>
    </div><hr>
    <div>
        <span>Shipping</span>
        <span class="price">{{main.shipping|currency}}</span>
    </div><hr>
    <div>
        <span>Total</span>
        <span class="price">{{main.cartTotal()|currency}}</span>
    </div><hr>
    <div>
        <div class="review">
            Shipping:<br>
            {{main.customer.shipping[0].name}}<br>
            {{main.customer.shipping[0].address}}<br>
            {{main.customer.shipping[0].city}},
            {{main.customer.shipping[0].state}}
            {{main.customer.shipping[0].zip}}<br>
        </div>
        <div class="review">
            Billing:<br>
            {{main.customer.billing[0].cardtype}} ending in
            {{main.customer.billing[0].number.slice(-5,-1)}}<br>
            {{main.customer.billing[0].address[0].name}}<br>
            {{main.customer.billing[0].address[0].address}}<br>
            {{main.customer.billing[0].address[0].city}},
            {{main.customer.billing[0].address[0].state}}
            {{main.customer.billing[0].address[0].zip}}<br>
        </div>
    </div>
    <div>
    <span class="button" ng-click="main.makePurchase()">
      Make Purchase
    </span>
    <span class="button" ng-click="main.setContent('products.html')">
      Continue Shopping
    </span>
    </div>
</div>